<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情页</title>
    <style>
        img{width:100px;height:100px;border-radius:5px;}
    </style>
</head>
<body>
<div>
    <h3><a href="{% url 'myshopping:index'%}">返回首页</a></h3>
    <form action="{% url 'myshopping:shopcart'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="goods_id" value="{{goods.id}}">
        <p>商品名称：{{goods.name}}</p>
        <p>商品单价：{{goods.price}}</p>
        <p>商品库存：{{goods.stock}}</p>
        <p>
            <span>
                {% for img in goods.goodsimage_set.all%}
                    <img src="{{img.path}}" alt="">
                {% endfor %}
            </span>
        </p>
        <p>
            数量：<input type="text" value="0" name="goods_count" placeholder="请输入购买数量">
        </p>
        <p>
            <input type="submit" value="加入购物车">
            <a href="#">立即购买</a>
        </p>
    </form>
</div>
</body>
</html>